table{
	width:800px;
	border:solid 1px;
}
.table_header{
	background:rgb(66, 133, 244);
	font-weight:bold;
	color:white;
	height:30px;
	line-height:30px;
}
.table_header td{
	text-align:center;
}
.remove_link{
	color:red;
}
.product_list_icon{
	width:50px;
	height:50px;
}
.bg_grey{
	background:#f3f3f3;
}

textarea{
	margin-top:10px;
}
#sub_btn{
	margin-top:10px;
	margin-left:100px;
	padding:5 10 5 10;
}
.error{
	margin-left:10px;
	color:red;
	font-size:10px;
}

.new-button {
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/newBtn.png) top left no-repeat;
    background-size: 21px 42px;
    margin-left: 2px;
}

.productNameTitle{
	margin-left:20px;
	font-size:28px;
	height:30px;
	margin-top:20px;
}