<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>   


    <settings>   
        <!-- changes from the defaults for testing -->   
        <setting name="cacheEnabled" value="false" />   
        <setting name="useGeneratedKeys" value="true" />   
        <setting name="defaultExecutorType" value="REUSE" />   
    </settings>   
    
    <typeAliases>   
       <typeAlias alias="Product" type="me.wmn.domain.Product"/>   
       <typeAlias alias="User" type="me.wmn.domain.User"/>   
    </typeAliases>  
     
    <typeHandlers>
    	<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="me.wmn.domain.VersionTypeEnum"/>
    </typeHandlers>
    
<!--     <environments default="development">   
       <environment id="development">   
       
       	    mybatis 事务管理，jdbc or managed
           <transactionManager type="jdbc"/>   

           <dataSource type="UNPOOLED">   
              <property name="driver" value="${jdbc.driverClassName}"/>   
              <property name="url" value="${jdbc.url}"/>   
              <property name="username" value="${jdbc.username}"/>   
              <property name="password" value="${jdbc.password}"/>   
           </dataSource>   
       </environment>   
    </environments> -->
    
<!--        <mappers>   
        <mapper resource="mybatis/mapper/productMapper.xml" />   
        <mapper resource="mybatis/mapper/packageMapper.xml" />
    </mappers> -->
</configuration>  