<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wmn.persistence.mybatisimpl.MyBatisProductDao">

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <select id="getProductById" resultType="Product" parameterType="java.lang.Integer">
        select * from product where id=#{id}
    </select>
    
    <select id="getAll" resultType="me.wmn.domain.Product" >
    	select * from product
    </select>
    
    <delete id="deleteProductById" parameterType="java.lang.Integer">
    	DELETE FROM product WHERE id=#{id}
    </delete>
    
    <insert id="addProduct" parameterType="me.wmn.domain.Product">
    	INSERT INTO product (name, description) values(#{name}, #{description})
    </insert>
    
    
    
    
</mapper>  