<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd     
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
		
		<!-- The <http> element is responsible for creating a FilterChainProxy and the filter beans which it uses   -->
<!-- 	<http security="none" pattern="/login"/>
	
	<http security="none" pattern="/static/**"/>
	
	 <http auto-config="true" use-expressions="true">
	 	<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
	 	<session-management>
	 		<concurrency-control max-sessions="4" error-if-maximum-exceeded="true"/>
	 	</session-management>
	 	<csrf disabled="true"/>
	 	<form-login login-page="/login" authentication-failure-handler-ref="authenticationFailureHandlerImpl" authentication-success-handler-ref="authenticationSuccessHandlerImpl"/>
		<logout logout-success-url="/home" logout-url="logout" invalidate-session="true" delete-cookies="JSESSIONID" />	 		
	 </http> -->
	 
	 <http pattern="/login" security="none" />
	 
	 <http>
 	 	<intercept-url pattern="/**" access="hasRole('USER')"/>
	 	<form-login login-page="/login"/>
	 	<logout/>
	 </http>
	 
	 <authentication-manager alias="authenticationManager">
	 
 	 	<!-- <authentication-provider> element creates a DaoAuthenticaitonProvider bean -->
		<authentication-provider>
			<!-- <user-service> element creates an InMemoryDaoImpl -->
	 		<user-service>
	 			<user name="admin" password="123" authorities="ROLE_USER, ROLE_ADMIN"/>
	 		</user-service>
	 	</authentication-provider> 
 

<!-- 		 <authentication-provider user-service-ref="userService">
		 	<password-encoder hash="bcrypt"></password-encoder>	
		 </authentication-provider> 
		 
-->

<!-- 	 	
		<authentication-provider>		 
		 <jdbc-user-service data-source-ref="dataSource" 
		 		group-authorities-by-username-query="" 
		 		users-by-username-query=""  
		 		authorities-by-username-query=""
		 	/>
		 </authentication-provider> 
-->	 
	 </authentication-manager>
	 
	 <beans:bean id="userService" class="me.wmn.user.UserServiceImpl"/>
	 
	 <beans:bean id="authenticationFailureHandlerImpl" class="me.wmn.security.AuthenticationFailureHandlerImpl">
	 	<beans:property name="url" value="/error"></beans:property>
	 </beans:bean>
	 
	 <beans:bean id="authenticationSuccessHandlerImpl" class="me.wmn.security.AuthenticationSuccessHandlerImpl">
	 	<beans:property name="url" value="/welcome"></beans:property>
	 </beans:bean>
		
</beans:beans>